

<h1>Assignments</h1>

<%if @assignments.empty?%>
  <h2>No Assignemnts Created</h2>
<%else%>
  <% @periods.each do |s|%>
    <li><%= "#{s.period_name}"%> </li>
        <% @assignments.each do |a|%>
          <% if s.id == a.period_id %>
            <li><td><%= link_to "#{a.assignment_name}", assignment_path(a)%></td></li>
          <%end%>
      <%end%>
  <%end%>
<%end%>
  

