assignment.show.html.erb

<h1><%= @assignment.assignment_name%></h1> 

  <% if @student.empty?%>
    <h3>No Students Assigned</h3>
  <%else%>
    <% @student.each do |s|%>
    <li><%= "#{s.student_name}"%></li>
      <% @assign_grade.each do |g|%>
        <% if s.id == g.student_id%>
          <li><%="#{g.grade}"%></li>
        <%end%>
      <%end%>
    <%end%>
  <%end%>

<%= render 'bottom_nav_bar'%>
