

<h1>It's all about <%=@student.student_name.capitalize%>!</h1> 

  <% if @assignment_ids.empty?%>
    <h3>This student has no Assignments</h3>
  <%else%>
    <% @assignments.each do |a|%>
    <li><%= "#{a.assignment_name}"%></li>
      <% @grades.each do |g|%>
        <% if a.id == g.assignment_id%>
          <li><%="#{g.grade}"%></li>
        <%end%>
      <%end%>
    <%end%>
  <%end%>

