

<h1>It's all about <%=@student.student_name.capitalize%>!</h1> 

    <% @assignments.each do |a|%>
    <li><b><%= "#{a.assignment_name}"%></b></li>
      <% @grades.each do |g|%>
        <% if a.id == g.assignment_id && g.grade != nil %>
          <li><%="#{g.grade}"%></li>
        <%else%>
          <li>No grade issued yet.</li> 
        <%end%>
    <%end%>
  <%end%>

