// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

li {
  text-align: center;
  padding: 5px;
  display: grid;
  margin-left: 50px;
}

h1 {
  text-align: center;
}